sheet = "统计表"
query = """\
-- 开发统计，统计各开发小组当期的完成情况
select ifnull(b.xz,"其他") as jsxz,
c.rs,
sum(iif(a.cszt like '0%',1,0)),
sum(iif(a.cszt like '1%',1,0)),
sum(iif(a.cszt like '2%',1,0)),
sum(iif(a.cszt like '3%',1,0)),
sum(iif(a.cszt like '4%',1,0)),
count(a.bh) as sl,
sum(d.xjys),sum(d.ljys)
from ystmb a
left join xmryb b on a.jsfzr=b.xm and lb="0-总行科技"
left join (select xz,count(xz)as rs from xmryb where lb in("0-总行科技","1-通用外包","2-赞同公司")group by xz)c on b.xz=c.xz
left join (select bh,count(distinct jym)as xjys,count(distinct yjym)as ljys from jydzb group by bh) d on a.bh=d.bh
where tcrq=(select max(tcrq)from ystmb)
group by jsxz
order by sl desc\
"""
start_col = "A"
name = "开发情况统计表"

[widths]
"A" = 20
"B:Z" = 10

[[column]]
name = "技术小组"
total_string = "合计"

[[column]]
name = "人员数量"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟不通过"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟测试"
format = "Number"
total_function = "sum"

[[column]]
name = "集成测试"
format = "Number"
total_function = "sum"

[[column]]
name = "待验收"
format = "Number"
total_function = "sum"

[[column]]
name = "完成验收"
format = "Number"
total_function = "sum"

[[column]]
name = "总数"
format = "Number"
total_function = "sum"

[[column]]
name = "新交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "迁移老交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "开发完成率"
format = "Percent"
formula = "([待验收]+[完成验收]+[集成测试])/[总数]"
total_function = "(开发情况统计表[[#Totals],[集成测试]]+开发情况统计表[[#Totals],[待验收]]+开发情况统计表[[#Totals],[完成验收]])/开发情况统计表[[#Totals],[总数]]"

[[column]]
name = "测试完成率"
format = "Percent"
formula = "([待验收]+[完成验收])/[总数]"
total_function = "(开发情况统计表[[#Totals],[待验收]]+开发情况统计表[[#Totals],[完成验收]])/开发情况统计表[[#Totals],[总数]]"
