# 业务统计，统计各业务小组当期验收条目的完成情况
sheet = "统计表"
name = "业务小组统计"
query = """\
select b.ywxz,c.rs,
sum(iif(a.cszt like '0%',1,0)),
sum(iif(a.cszt like '1%',1,0)),
sum(iif(a.cszt like '2%',1,0)),
sum(iif(a.cszt like '3%',1,0)),
sum(iif(a.cszt like '4%',1,0)),
count(a.bh) as sl,sum(d.xjys),sum(d.ljys)
from ystmb a left join fgmxb b on a.bh=b.bh
left join (select xz,count(xz)as rs from xmryb where lb="3-分行业务" group by xz)c on b.ywxz=c.xz
left join (select bh,count(distinct jym)as xjys,count(distinct yjym)as ljys from jydzb group by bh) d on a.bh=d.bh
where tcrq=(select max(tcrq)from ystmb)
group by b.ywxz
order by sl desc\
"""
start_col = "A"

[[column]]
name = "业务小组"
total_string = "合计"

[[column]]
name = "人员数量"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟不通过"
format = "Number"
total_function = "sum"

[[column]]
name = "冒烟测试"
format = "Number"
total_function = "sum"

[[column]]
name = "集成测试"
format = "Number"
total_function = "sum"

[[column]]
name = "待验收"
format = "Number"
total_function = "sum"

[[column]]
name = "完成验收"
format = "Number"
total_function = "sum"

[[column]]
name = "总数"
format = "Number"
total_function = "sum"

[[column]]
name = "新交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "迁移老交易数"
format = "Number"
total_function = "sum"

[[column]]
name = "开发完成率"
format = "Percent"
formula = "([待验收]+[完成验收]+[集成测试])/[总数]"
total_function = "(业务小组统计[[#Totals],[集成测试]]+业务小组统计[[#Totals],[待验收]]+业务小组统计[[#Totals],[完成验收]])/业务小组统计[[#Totals],[总数]]"

[[column]]
name = "测试完成率"
format = "Percent"
formula = "([待验收]+[完成验收])/[总数]"
total_function = "(业务小组统计[[#Totals],[待验收]]+业务小组统计[[#Totals],[完成验收]])/业务小组统计[[#Totals],[总数]]"
